@charset "UTF-8";

@import "variables";

@mixin font($family, $size) {
    font-family: $family, sans-serif;
    font-size: $size;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

@mixin default-font {
    @include font($site-default-font-family, $site-default-font-size);
}

@mixin bright-font {
    @include font($site-title-font-family, $site-default-font-size);
}

@mixin title-font {
    @include font($site-title-font-family, $site-title-font-size);
    opacity: 0.8;
}

@mixin subtitle-font {
    @include font($site-title-font-family, $site-subtitle-font-size);
    opacity: 0.8;
}

@mixin clear-after {

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin aspect-ratio-wrapper($width, $height) {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        padding-top: $height / $width * 100%;
    }
}

@mixin aspect-ratio-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin inline-title {
    margin: $column-title-margin;
    padding: $column-title-padding;
    @include title-font;
    color: $column-title-text-color;
}
