@charset "UTF-8";

/**
 * general settings
 */

$site-default-text-color: #333;
$site-default-link-color: #c33;
$site-default-link-hover: #e33;
$site-bright-text-color: #eee;
$site-bright-text-hover: #f8f8f8;
$main-title-background-color: #eee;
$main-title-text-color: #444;
$column-title-text-color: $site-default-text-color;

$site-default-font-family: 'robotolight';
$site-title-font-family: 'robotothin';
$site-small-font-size: 16px;
$site-default-font-size: 18px;
$site-subtitle-font-size: 24px;
$site-title-font-size: 32px;
$site-title-padding: 20px;
$main-subtitle-font-size: 36px;
$main-title-font-size: 60px;
$main-title-padding: 40px;
$column-subtitle-font-size: 22px;
$column-title-font-size: 28px;
$column-title-margin: 20px 0 10px;
$column-title-padding: 0 0 10px;
$column-title-gap: 10px;
$subsite-logo-padding: 50px;

